/* Card.css */

.card {
  width: 500px; /* Set the width to 500px */
  height: 500px; /* Set the height to 500px */
  margin: left 0; /* Center the card horizontally on the page */
  text-align: center; /* Center text horizontally within the card */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content {
  max-width: 80%; /* Adjust the maximum width of the card content as needed */
  padding: 20px;
  background-color: #45c4f3; /* Set a background color for the card content */
  border: 5px solid #f9ad5b; /* Add a border to the card content */
  border-radius: 5px; /* Add rounded corners to the card content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow to the card content */
}

.card-img {
  max-width: 100%;
  height: auto;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
}
