.nav-container {
  background: transparent;
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.nav-container .nav-item {
  color: #999;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  flex: 1;
  position: relative;
  transition: color 0.3s,
}

.nav-container .nav-item:hover {
  color: #fff; 
  background-color: #45c4f3; 
}

.nav-container .nav-item.active {
  color: #fff;
  background-color: #f9ad5b; 
}

.nav-container .nav-item.active .nav-item-highlighter {
  width: 100%;
  background: #333;
}

.nav-container .nav-item-highlighter {
  background: #f9ad5b;
  border-radius: 5px 5px 0 0;
  position: absolute;
  bottom: 0;
  height: 3px;
  z-index: 1;
  transition: left 0.25s, width 0.25s;
  left: 0;
  width: 0;
}
