.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 60px; 
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
}

.menu-icon {
  cursor: pointer;
}

.menu-items {
  list-style-type: none; 
  display: flex; 
  padding: 0; 
  margin: 0; 
}

.menu-items li {
  margin-right: 20px; 
}

.menu-items a {
  text-decoration: none;
  color: white;
}

.menu-items h2 {
  margin: 0; 
}

.menu-items li:hover h2 {
  color: #ffd700; 
}

.menu-items li.active h2 {
  color: #ffd700; 
}


