.content-container {
  background-color: #efefef; /* Set your desired background color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  color: #454545
}

